body {
    background-color: bisque;
    margin: 0 auto;
    padding: 0;
}

.header-container {
    max-width: 1440px;
   background-color: rgb(185, 236, 219);
}

.main {
    max-width: 1440px;
    background-color: rgb(123, 156, 145);


}